.introduction {
    text-align: center;
    display: inline-block;
  }
  
  .introduction-text {
    font-weight: 150;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  .about-text {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align:left
  }